testing.js
t.js
STYLEGUIDE.md
stuff.md
tsting.js
stuffbank
.prettierrc
AUTHORS.md
CODE_OF_CONDUCT.md
EXAMPLES.md
index.test.js
IS_THIS_LIBRARY_A_JOKE.md
LICENSE
SECURITY.md
phone-number-log.txt
